/*removing default box-shadow of all buttons*/
.btn {
  box-shadow: none !important;
}

/*styling for active elements*/
.active {
  color: #6b6b6b !important;
}

/*cursor type of pointer for all links*/
a:hover {
  cursor: pointer;
}

/** LOGIN **/
.btn-submit {
  background-color: #ea6565 !important;
  color: #fff !important;
}

/** CARD **/
.card {
  height: 350px;
  box-shadow: 10px 5px 5px rgb(87, 85, 85);
}

.card > img {
  height: 100%;
}

.card:hover {
  box-shadow: 10px 5px 5px rgb(20, 20, 20);
  cursor: pointer;
}

/** HEADER **/
.navbar {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}

.navbar-brand > img {
  height: 35px;
  width: 100px;
}

.nav-link {
  color: #ea6565 !important;
  font-weight: 800;
}

@media screen and (max-width: 600px) {
  .navbar .hide {
    display: none;
  }
}

/** FOOTER **/
.footer {
  position: fixed;
  bottom: -1rem;
  width: 100%;
  z-index: 1;
  animation-name: bantai;
  animation-duration: 1s;
}

@keyframes bantai {
  0% {
    border-top: 5px solid #ea6565;
    bottom: -50px;
  }
  50% {
    border-top: 2px solid #ea6565;
  }
  100% {
    bottom: -15px;
  }
}

.footer-dismiss {
  display: none;
}

/** SEARCHINPUT **/
.select-content > input {
  width: 10px;
}

/* THIS CLASS IS USED IN ALL FORM INPUTS, USING HERE FOR SEARCH INPUT */
.form-control {
  box-shadow: none !important;
  border-color: #ea6565 !important;
}
.form-control::placeholder {
  color: #ea6565 !important;
}

.search-box {
  width: 50% !important;
  border: 1px solid #ddd;
  padding: 50px;
}

.search-form {
  margin-left: 150px;
}

.custom-file-label {
  color: #ea6565 !important;
  border-color: #ea6565 !important;
}

.custom-file-label::after {
  background-color: #ea6565 !important;
  color: #fff !important;
}

.search-btn {
  box-shadow: none !important;
  background-color: #ea6565 !important;
}

/* these are the classes of the react-select that is taken from the web-dev tools for modifying the color */
.css-2b097c-container,
.css-tlfecz-indicatorContainer,
.css-yk16xz-control,
.css-1wa3eu0-placeholder {
  border-color: #ea6565 !important;
  color: #ea6565 !important;
  box-shadow: none !important;
}

.checkbox {
}

/** INFO PANEL **/
.info-panel {
  width: 300px;
  position: absolute;
  right: 0;
  background: #fff;
}

.before {
  border: 1px solid #ddd;
  height: 100vh;
  overflow: hidden;
}

.after {
  display: none;
}

.panel {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.cross-btn:focus,
.cross-btn:active {
  box-shadow: none !important;
}

/** SIDEBAR **/
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #ced0d1;
  border: 1px solid rgb(90, 90, 90);
  opacity: 1;
  margin: 2px;
}

/* Change with of sidebar from 0 to 250px */
#sidebar-wrapper-toggle {
  z-index: 1;
  position: absolute;
  height: 100%;
  overflow-y: hidden;
  background: #fff;
  border: 1px solid rgb(138, 138, 144);
  opacity: 1;
  width: 250px;
  margin: 2px;
}

/* Always take up entire screen */
#page-content-wrapper {
  position: absolute;
  padding: 15px;
  border: 1px solid rgb(138, 138, 144);
  margin: 2px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#page-content-wrapper-toggle {
  position: absolute;
  padding: 15px;
  border: 1px solid rgb(138, 138, 144);
  padding-left: 25px;
  margin: 2px;
  margin-left: 254px;
}

.list-group-item > a {
  color: #ea6565;
}

.list-group-item > a:hover {
  color: #ea6565;
}
.list-group > li:hover {
  background-color: #ffe4e4;
}

/* Sidebar styling - the entire ul list */
.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a:hover {
  background: #16a085;
}

.hamburger-hide {
  display: none;
}

.hamburger-cancel {
  background-color: #f8f8f8;
  height: 35px;
}
