/* TODO : bootstrap button provides blue box shadow by default, in many place I have used box-shadow: none !important; to remove this.
in case we do not need it any button we can simply do it in .btn{box-shadow: none !important;} class and that will take care of all the
buttons we have used.
*/

/* CARD */
.card {
  height: 350px;
  box-shadow: 10px 5px 5px rgb(87, 85, 85);
}

.card > img {
  height: 100%;
}

.card:hover {
  box-shadow: 10px 5px 5px rgb(20, 20, 20);
  cursor: pointer;
}

/* HEADER */
.navbar {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}

.navbar-brand > img {
  height: 50px;
  width: 200px;
}

.nav-link {
  color: #ea6565;
}

@media screen and (max-width: 600px) {
  .navbar .navbar-nav {
    display: none;
  }
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: -1rem;
  width: 100%;
}

.footer-dismiss {
  display: none;
}

/* SEARCHINPUT */
.select-content > input {
  width: 10px;
}

/* THIS CLASS IS USED IN ALL FORM INPUTS, USING HERE FOR SEARCH INPUT */
.form-control {
  box-shadow: none !important;
  border-color: #ea6565 !important;
}
.form-control::placeholder {
  color: #ea6565 !important;
}

.search-box {
  width: 50% !important;
  border: 1px solid #ddd;
  padding: 50px;
}

.search-form {
  margin-left: 150px;
}

.custom-file-label {
  color: #ea6565 !important;
  border-color: #ea6565 !important;
}

.custom-file-label::after {
  background-color: #ea6565 !important;
  color: #fff !important;
}

.search-btn {
  box-shadow: none !important;
  background-color: #ea6565 !important;
}

/* these are the classes of the react-select that is taken from the web-dev tools for modifying the color*/
.css-2b097c-container,
.css-tlfecz-indicatorContainer,
.css-yk16xz-control,
.css-1wa3eu0-placeholder {
  border-color: #ea6565 !important;
  color: #ea6565 !important;
  box-shadow: none !important;
}

/* INFO PANEL */
.content1,
.content2 {
  width: 100%;
  border: 1px solid #ddd;
  height: 100vh;
}

.content2-after {
  display: none;
}

.panel {
  background: #f8f8f8;
  border-bottom: 1px solid #ddd;
  margin-left: -15px;
}

.cross-btn:focus,
.cross-btn:active {
  box-shadow: none !important;
}
